<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <header>
        <a href="/">Back to Homepage</a>
    </header>
<body>
    <h1>Add new book to your list!</h1>
    <br>
    <form action="/data" method="POST">
        Title:
        <input type="text" name="title" /> </br>
        Author:
        <input type="text" name="author" /> </br>
        Topic:
        <input type="text" name="topic" /> </br>
        Cost:
        <input type="number" name="cost" /> </br>
        <button>Submit</button>
    </form>
</body>
</html>