<html>
    <header>
        <a href="/">Back to Homepage</a>
    </header>
<body>
    <h1>Opps</h1>
    <p>We received invalid/s data! Please meet the below requirement:</p>
    <ul>
        <li>Title should be bigger than 3</li>
        <li>Author name should be bigger than 3</li>
        <li>Topic should be bigger than 3</li>
        <li>Cost should be positive number</li>
    </ul>
</body>
<footer>
    <a href="/addbooks">Back to Add book page</a>
    <br>
    <a href="/">Back to Homepage</a>
</footer>
</html>