<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <style>
            table,td,th{
                border: 1px solid black

            }
            table{

                width: 75%;
                border-collapse: collapse;
            }
        </style>
    </head>
    <header>
        <a href="/">Back to Homepage</a>
    </header>
<body>
    <h1> Welcome</h1>
    </br>
    <h3>You searched <%= authorName%>, the list of book is below
        <table>
            <tr>
                <th style="text-align: center;">Title</th>
                <th style="text-align: center;">Author</th>
                <th style="text-align: center;">Topic</th>
                <th style="text-align: center;">Cost</th>
            </tr>
            <% for ( let i =0; i< result.length;i++){ %>
                <tr>
                    <td style="text-align: center;">
                        <%= result[i].title %>
                    </td>
                    <td style="text-align: center;">
                        <%= result[i].author %>
                    </td>
                    <td style="text-align: center;">
                        <%= result[i].topic %>
                    </td>
                    <td style="text-align: center;">
                        <%= result[i].cost %>
                    </td>
                </tr>
                <% }%>
        </table>
    </h3>
</body>
</html>